# 项目依赖
fastapi
pymupdf
numpy
openai
opencv_contrib_python
opencv_python
opencv_python_headless
paddlex
Pillow
python-dotenv
Requests
tqdm
urllib3
uvicorn

# 开发依赖
pre-commit>=3.6.2
black>=24.2.0
isort>=5.13.2
flake8>=7.0.0
flake8-docstrings>=1.7.0