# 项目依赖
fastapi
pymupdf
numpy
openai
opencv_contrib_python
opencv_python
opencv_python_headless

# gpu，该命令仅适用于 CUDA 版本为 12.3 的机器环境
# python -m pip install paddlepaddle-gpu==3.0.0rc0 -i https://www.paddlepaddle.org.cn/packages/stable/cu123/

# PaddlePaddle GPU版本（CUDA 11.8，必须在paddlex之前安装）
paddlepaddle-gpu==3.0.0rc0 -i https://www.paddlepaddle.org.cn/packages/stable/cu118/
https://paddle-model-ecology.bj.bcebos.com/paddlex/whl/paddlex-3.0.0rc0-py3-none-any.whl



Pillow
python-dotenv
Requests
tqdm
urllib3
uvicorn

# 开发依赖
pre-commit>=3.6.2
black>=24.2.0
isort>=5.13.2
flake8>=7.0.0
flake8-docstrings>=1.7.0
